In [1]:
import pandas as pd
df=pd.read_csv('project_data.csv',sep=';')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (902,921) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df=df[['Worker','Q501','Educ_3categ_from201','Q102','UrbanRural','ageYr','Q702','Q803','fjobexist','ageeducleft','fmarrlegYYYY','childexist','agelefthome','educToWork','HaveBeenAbroad']]

In [3]:
df

,Worker,Q501,Educ_3categ_from201,Q102,UrbanRural,ageYr,Q702,Q803,fjobexist,ageeducleft,fmarrlegYYYY,childexist,agelefthome,educToWork,HaveBeenAbroad
0,2,3,3,2,1,24,99,1,0,"18,5",2011,1,"18,5833339691162",,2
1,1,3,1,2,1,29,99,1,1,"18,5833339691162",2011,1,"23,4166660308838",15,2
2,2,3,1,2,1,24,99,2,0,"17,1666660308838",2013,1,"21,6666660308838",,2
3,2,1,3,2,1,28,99,1,1,"23,3333339691162",,0,,3,2
4,1,3,3,1,1,26,,2,1,"23,1666660308838",2012,1,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,1,1,1,2,22,,1,0,18,,0,,,2
1996,1,1,1,1,2,23,,1,1,"17,6666660308838",,0,"17,75",0,3
1997,2,3,1,2,2,23,2,1,1,"15,3333330154419",2014,1,"20,5833339691162",0,2
1998,2,3,1,2,2,27,2,2,0,"17,6666660308838",2007,1,"17,6666660308838",,2
1999,2,1,1,2,2,23,2,2,0,18,,0,,,2

In [4]:
df.dropna(inplace=True,axis=0)

In [5]:
df.rename(columns={'Q702':'wearHijab','Educ_3categ_from201':'edlevel',
                   'Q803':'health','Q102':'Gender'}, inplace=True)

In [6]:
df.isnull().sum()

Worker            0
Q501              0
edlevel           0
Gender            0
UrbanRural        0
ageYr             0
wearHijab         0
health            0
fjobexist         0
ageeducleft       0
fmarrlegYYYY      0
childexist        0
agelefthome       0
educToWork        0
HaveBeenAbroad    0
dtype: int64

In [7]:
df.corr()

,Worker,Q501,edlevel,Gender,UrbanRural,ageYr,health,fjobexist,childexist,HaveBeenAbroad
Worker,1.000000,-0.073569,-0.323764,0.172026,0.056298,-0.247759,0.138029,-0.533739,-0.078068,-0.052510
Q501,-0.073569,1.000000,0.122178,0.158964,-0.014888,0.447059,0.057600,0.044359,0.681221,-0.027302
edlevel,-0.323764,0.122178,1.000000,-0.194398,-0.131578,0.513776,-0.071834,0.346593,0.138983,0.052083
Gender,0.172026,0.158964,-0.194398,1.000000,-0.042977,-0.095354,0.029528,-0.422441,0.149372,0.135158
UrbanRural,0.056298,-0.014888,-0.131578,-0.042977,1.000000,-0.058697,0.065769,-0.048717,-0.028924,-0.034708
ageYr,-0.247759,0.447059,0.513776,-0.095354,-0.058697,1.000000,0.046416,0.279469,0.505490,-0.045511
health,0.138029,0.057600,-0.071834,0.029528,0.065769,0.046416,1.000000,-0.084341,0.035702,0.013206
fjobexist,-0.533739,0.044359,0.346593,-0.422441,-0.048717,0.279469,-0.084341,1.000000,0.022049,-0.122682
childexist,-0.078068,0.681221,0.138983,0.149372,-0.028924,0.505490,0.035702,0.022049,1.000000,-0.001218
HaveBeenAbroad,-0.052510,-0.027302,0.052083,0.135158,-0.034708,-0.045511,0.013206,-0.122682,-0.001218,1.000000

In [8]:
df.at[df['Worker']==1,'isWorker']=1
df.at[df['Worker']==2,'isWorker']=0

In [9]:
y=df['isWorker']

In [10]:
y

0       0.0
1       1.0
2       0.0
3       0.0
4       1.0
       ...
1995    1.0
1996    1.0
1997    0.0
1998    0.0
1999    0.0
Name: isWorker, Length: 2000, dtype: float64

In [11]:
df.at[df['UrbanRural']==1,'Urban']=1
df.at[df['UrbanRural']==2,'Urban']=0

In [12]:
df['married'] = df['Q501'].replace((1,2,3,4,5,6),(0,0,1,0,0,0))
df['married'].value_counts()

1    1326
0     674
Name: married, dtype: int64

In [13]:
df['BeenAbroad'] = df['HaveBeenAbroad'].replace((2, 3),(0,1))
df['BeenAbroad'].value_counts()

0    1535
1     465
Name: BeenAbroad, dtype: int64

In [14]:
df['isFemale'] = df['Gender'].replace((1, 2),(0,1))
df['isFemale'].value_counts()

0    1004
1     996
Name: isFemale, dtype: int64

In [15]:
df['BeenAbroad']

0       0
1       0
2       0
3       0
4       1
       ..
1995    0
1996    1
1997    0
1998    0
1999    0
Name: BeenAbroad, Length: 2000, dtype: int64

In [16]:
df['health'].value_counts()

2    944
1    790
3    241
4     24
5      1
Name: health, dtype: int64

In [17]:
df['healthy'] = df['health'].replace((1,2,3,4,5),(1,1,1,0,0))

df['healthy'].value_counts()

1    1975
0      25
Name: healthy, dtype: int64

In [18]:
education = pd.get_dummies(df["edlevel"], prefix="educlevel", dummy_na=False)
education

      educlevel_1  educlevel_2  educlevel_3
0               0            0            1
1               1            0            0
2               1            0            0
3               0            0            1
4               0            0            1
...           ...          ...          ...
1995            1            0            0
1996            1            0            0
1997            1            0            0
1998            1            0            0
1999            1            0            0

[2000 rows x 3 columns]

In [19]:
df = pd.concat([df, education], axis=1)

In [20]:
df = df.drop(['edlevel'], axis=1)

In [21]:
X=df[['childexist','Urban',
      'isFemale','BeenAbroad',
      'educlevel_1','educlevel_2','educlevel_3',
      'healthy','ageYr','fjobexist','married']]

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   childexist   2000 non-null   int64
 1   Urban        2000 non-null   float64
 2   isFemale     2000 non-null   int64
 3   BeenAbroad   2000 non-null   int64
 4   educlevel_1  2000 non-null   uint8
 5   educlevel_2  2000 non-null   uint8
 6   educlevel_3  2000 non-null   uint8
 7   healthy      2000 non-null   int64
 8   ageYr        2000 non-null   int64
 9   fjobexist    2000 non-null   int64
 10  married      2000 non-null   int64
dtypes: float64(1), int64(7), uint8(3)
memory usage: 211.0 KB

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
logreg = LogisticRegression()

In [27]:
logreg.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
y_pred = logreg.predict(X_test)

In [29]:
logreg.score(X_test,y_test)

0.8075

In [30]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[147,  23],
       [ 54, 176]], dtype=int64)

In [32]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(logreg, open(filename, 'wb'))